@charset "utf-8" ;

@font-face {
    font-family: 'Champagne';
    src: url('cac_champagne.woff') format('woff'),
        url('cac_champagne.ttf') format('truetype');
}

@font-face {
    font-family: 'DobkinPlain';
    src: url('DobkinPlain.woff') format('woff'),
        url('DobkinPlain.tff') format('truetype');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Patrick M Capuano
   Date:   9.11.18
   
   Filename: lake_styles.css

*/

/* 
-Definition of the character encoding used in the style sheet file 
-Application of a web font (Two fonts are supplied for you in the html02  case4 folder.)  
-Setting background and text colors using both color values and color names  
-An application of a semi-transparent color  
-Selectors showing style rules applied to nested elements, child elements, and elements based on the id attribute  
-Styles that modify the appearance of list and list markers  
-Use of pseudo-elements and pseudo-classes as selectors 
-Styles that modify the padding space and margin space around an element  
-A style rule to generate content in the rendered page 
*/

/* Structural Styles */

html {
    background-image: url("water_background_1.png");
    background-repeat: no-repeat;
    background-color: rgb(255, 150, 100);
}

/* Navigation Styles */

nav > ul > a {
    text-decoration: none;
    text-emphasis: spaceing;
}

nav > h2 {
    color: brown;
}

/* Section Styles */

header {
    background-color: rgba(255, 166, 0, 0.3);
    border-style: outset;
    border-width: 5px;
    border-color: aquamarine;
}

header a {
    Color: orangered; 
    font-size: 1.6em;
    font-family: 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

section#leftcol h1 {
    font-family: 'Champagne', Verdana, 'Geneva', Tahoma, sans-serif;
    font-size: 3em;
    margin: 10px 5px 10px 5px;
}

section#leftcol p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: saddlebrown;
    background-color: antiquewhite;
    padding: 10px;
    border-style: inset;
    border-width: 5px;
    border-color: orange;
}

section#rightcol a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
}

p::first-letter {
    font-size: xx-large;
    color: rgb(125, 50, 0);
}

body {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.6);
}

/* Blockquote Styles */

blockquote{
    font-family: 'Champagne', Verdana, 'Geneva', Tahoma, sans-serif;
    font-size: 1.7em;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

/* Aside Styles */

aside > h2, ul {
    color: rgb(77, 50, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside ul a {
    color: brown;
}
/* Footer Style */

footer {
    text-align: center;
}